body {
    background-color: rgb(251, 251, 243);
}

.scroll-box {
    justify-self: center;
    display: flex;
    width: 500px;
    white-space: nowrap;
    overflow-y: scroll;
    height: 325px;
    border-radius: 5%;
    /* background-color: gray; */
    border: 1px solid gray;
    margin: 10px;
}

/* .tag-box {
    justify-self: center;
    display: flex;
    width: 500px;
    white-space: nowrap;
    overflow-y: scroll;
    height: 550px;
    border-radius: 5%;
    border: 1px solid gray;
    margin: 10px;
} */

/* .tag-round {
    background-color: lightgray;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 500px;
    width: 250px;
} */

h1 {
    position: fixed;
    width: 50px;
    margin-top: 51px;
    margin-left: 60px;

    font-family: 'Oleo Script';
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;

    display: flex;
    align-items: center;

    color: #E7B540;
}

h2 {
    /* margin-top: 0; */
    margin-top: 180px;
    font-family: 'Oleo Script';
    font-weight: 400;
    font-size: 54px;

    display: flex;
    justify-content: center;
    text-align: center;

    color: #E7B540;
    text-shadow: -3px 3px 0px #48A369;
}

.countryChosen,
.countryEditing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.country-box {
    width: 717px;
    height: 88px;
    margin-right: 20px;
    float: left;

    justify-content: center;

    background: #E4AF71;
    border-radius: 20px;
    display: flex;

}

.country-box-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    justify-content: center;

    display: flex;

    text-align: center;
    align-items: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.country-icon {
    height: 88px;
    width: 88px;

    background: rgba(231, 181, 64, 0.6);
    border-radius: 20px;
    border: none;
}

.country-icon h3 {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #F3F3F3;
}

#country-input {
    justify-content: center;
    height: 55px;
    width: 300px;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.hidden {
    display: none;
}

#submitCountries,
#submitTags {
    width: 259px;
    height: 101px;
    margin-top: 275px;

    background-color: #48A369;
    opacity: 0.8;
    border: none;
    border-radius: 20px;
}

#submitTags {
    margin-top: 30px;
}

#submitCountries h3,
#submitTags h3 {
    color: white;
}

.part-1,
.part-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 500px;
}

/* .part-2 {
    margin-bottom: 500px;

} */

/* need to fix scaling a bit */
.tag-box {
    width: 777px;
    height: 290.5px;

    background: #E5CAAA;
    border-radius: 30px;

    padding: 42.6px 42.6px 39.6px 39.6px;

}

#tags-checker {
    width: 775px;
    height: 280px;
    white-space: nowrap;
    overflow: auto;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

input[type=checkbox]+label {
    margin: 4px;
    height: 62.4px;
    padding-left: 30px;
    padding-right: 30px;

    background-color: #C9290E;
    opacity: 0.7;
    border-radius: 25px;
    float: left;
    justify-content: center;
}

input[type=checkbox]:checked+label {
    background-color: #48A369;
    opacity: 0.8;
}

.tag label {
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}