<!DOCTYPE html>
<html>

<head>
    <title>Off the Beaten Path</title>

    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <main>
        <h1>Off the Beaten Path</h1>

        <div class="scroll-box" id="scroll-box">
            <form class="form-1 user">
                <label id="country-label" class="user-field" for="country">Where do you want to go?</label>
                <input list="datalist" id="country-input" type="text" onkeyup="ac(this.value)" />
                <datalist class="user-field" id="datalist"></datalist>
                <button class="user-field" id="submit-country" type="submit" value="Submit">Submit </button>
            </form>
        </div>

        <div class="tag-box" id="tag-box">
            <form class=" form-2 tag-round">
                <label id="tags-label" class="user-field" for="tags">Tags to include:</label>
                <!-- <input id="tags-input" type="text" /> -->
                <div id = tags-checker></div>
                <button class="user-field" id="submit-tags" type="submit">Submit</button>
            </form>
        </div>
        <div id="output-box">    
            <div class="output-list" id="output-box"></div>
        </div>
    </main>
    <script>
        document.getElementById("tag-box").style.visibility = 'hidden';
        document.getElementById("output-box").style.visibility = 'hidden';

        var tags = []
        var tag_len = 0
        fetch("/country-list" )
                .then((response) => response.json())
                .then((d) => {
                    tags = d
                    tag_len = tags.length;
                })


        function ac(value) {
            document.getElementById('datalist').innerHTML = '';

            l = value.length;
            for (var i = 0; i < tag_len; i++) {
                if (((tags[i].toLowerCase()).indexOf(value.toLowerCase())) > -1) {

                    var node = document.createElement("option");
                    var val = document.createTextNode(tags[i]);
                    node.appendChild(val);

                    document.getElementById("datalist").appendChild(node);
                }
            }
        }
       
        function tagBoxTemplate(tag) {
            return `<div class=''>
                <label for="tags-input-${tag}">  <input class = "tags-input" value =${tag} id="tags-input-${tag}" type="checkbox" /> ${tag}</label><br>
            </div>`
        }

        function outputBoxTemplate(loc) {
            return `<div class=''>
                <p class='output-loc'>${loc}</p>
            </div>`
        }

        var countryInput = document.getElementById("country-input");
        document.querySelector('form.form-1').addEventListener('submit', function (e) {
            e.preventDefault();
            console.log(countryInput.value);

            document.getElementById("tag-box").style.visibility = 'visible';

            fetch("/countries?" + new URLSearchParams({ countries: document.getElementById("country-input").value }).toString())
                .then((response) => response.json())
                .then((d) => {
                    d.forEach(tag => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = tagBoxTemplate(tag)
                        document.getElementById("tags-checker").appendChild(tempDiv)
                    })}
                );
        });

        var tagsInput = document.getElementsByClassName("tags-input");
        document.querySelector('form.form-2').addEventListener('submit', function (e) {
            e.preventDefault();
            var values = []
            for (const input of tagsInput) {
                if (input.checked){
                    values.push(input.value)
                }
            }
            console.log(values)

            fetch("/output?" + new URLSearchParams({ tags: values }).toString())
                .then((response) => response.json())
                .then((d) => {
                    d.forEach(location => {
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = outputBoxTemplate(location)
                        document.getElementById("output-box").appendChild(tempDiv)
                    })}
                );
            document.getElementById("output-box").style.visibility = 'visible';

        });
    
    </script>
</body>

</html>