<!DOCTYPE html>
<html>

<head>
    <title>Off the Beaten Path</title>
    <!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->

    <link rel="stylesheet" type="text/css" href="..static/styles/site.css">
</head>

<body>
    <main>
        <h1>Off the Beaten Path</h1>

        <label for="country">Where do you want to go?</label>
        <input list="datalist" type="text" onkeyup="ac(this.value)" />
        <datalist id="datalist"></datalist>
        <button type="submit">Submit</button>
    </main>
    <script>
        var tags = [
            "South Korea",
            "Canada",
            "France",
            "Ghana",
            "New Zealand"
        ];

        var n = tags.length;

        function ac(value) {
            document.getElementById('datalist').innerHTML = '';

            l = value.length;
            for (var i = 0; i < n; i++) {
                if (((tags[i].toLowerCase()).indexOf(value.toLowerCase())) > -1) {

                    var node = document.createElement("option");
                    var val = document.createTextNode(tags[i]);
                    node.appendChild(val);

                    document.getElementById("datalist").appendChild(node);
                }
            }
        }
    </script>
</body>

</html>