<!DOCTYPE html>
<html>

<head>
    <title>Off the Beaten Path</title>

    <script src="https://kit.fontawesome.com/6969334fef.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/landing.css">
</head>

<body>
    <main>
        <img class="sun" src='../static/images/sun.png'>
        <div class="container">
          <div class="title">Off the Beaten Path</div>
            <button class="discover-button" onclick="loadHomePage()">
                Discover hidden destinations!
            </button>
        </div>
    </main>
    <script>
      function loadHomePage() {
        window.location.href = "/home";
      }

    </script>
</body>
</html>